html {
  font-size: 100%;
}

@import './_imports';

.carousel-inner {
  max-height: inherit;

  .carousel-item {
    max-width: 100% !important;
    max-height: 100% !important;

    img {
      // max-width: 100% !important;
      // max-height: 100% !important;
      width: auto !important;
      object-fit: cover;
      margin: auto;
    }
  }
}

.section {
  padding: 10px 2px;

  .section-title, .title-text {
    position: relative;

    &::after {
      content: "";
      background-color: orange;
      height: 3.4px;
      position: absolute;
      bottom: 0;
      left: -4px;
      right: -10px;
    }
  }

  .section-title {
    @extend .col-lg;
    padding-left: 10px;

    .title-text {
      width: fit-content;
      padding: 4px 0;
      max-width: 184px;
    }
      
    &::after {
      background-color: #f0f0f0;
      right: 0;
      z-index: -1;
    }
  }

  .row {
    margin: 8px 0;
    padding: 8px 0;
  }

  &.why {
    .row {
      @extend .justify-content-around;
      padding: 10px 0;

      .card {
        // @extend .border-warning;
        @extend .text-light;

        // @media (min-width: 438px) and (max-width: 576px) {
        //   width: 48%
        // }
      }
    }
  }
}

.card {
  width: min(100%, 260px);
  margin: 6px 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;

  .img-wraper, .card-body {
    border-radius: inherit;
  }

  .img-wraper {
    height: 260px;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.page-footer {
  margin-top: 2rem;

  .row {
    margin: 0;
    padding: 10px;

    // @extend .align-items-center;

    // &:first-child {
    //   @extend .justify-content-around;
    //   padding-left: 0;
    //   padding-right: 0;
    // }

    .card {
      // width: min(100%, 220px);
      box-shadow: none;
      height: fit-content;

      .card-header,
      .card-footer {
        text-align: center;
      }
    }
  }
}


@media (max-width: 768px) {
  .md-text-center {
    text-align: center;
  }
}
